html
  head
    title Discord Soundboard
    link(rel="shortcut icon", href="media/discordbot-180.png", sizes="180x180")
    link(rel="shortcut icon", href="media/discordbot.png", sizes="32x32")
    link(rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
    link(type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@latest/dist/css/bootstrap.css")
    link(type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css")
    link(rel="stylesheet", href="css/darkly.min.css")
    style
      | [v-cloak] {
      |  display: none;
      | }
  body
    div(class="container")
      div(class="page-header alert alert-dark text-center")
        h1 Discord Soundboard

      a(class="btn btn-danger float-right" role="button" href="logout") Logout
      div(id="vuewrapper" v-cloak)
        search-box(inline-template :clips="clips")
          div(class="row" id="search")
            div(class="offset-9 col-3")
              input(id="searchbox" class="form-control" placeholder="Search..."  v-model="searchQuery" @input="isTyping = true")
            div(v-if="searching" class="col-11 offset-1 border border-primary")
              b-btn(:onclick="'play(\"'+clip.name+'\")'" style="margin:5px" variant="primary" v-for="clip in searchResults" :key="clip" v-b-tooltip="toTitleCase(clip.category) + ' - ' + toTitleCase(clip.subcategory)") {{ toTitleCase(clip.name) }}

        div(class="row" id="categories")
          div(class="col-3" id="leftnav" style="border=1px blue")
            div(class="container-fluid" style="margin:3px")
              b-btn(v-b-toggle="'random'" class="col-12" variant="success") {{ toTitleCase('random') }}

            div(class="container-fluid show collapse btn-group-toggle" role="group" data-toggle="buttons" v-for="subcats,category in clips", :key="category" style="margin:3px")
              b-btn(v-b-toggle="'cat_' + category" class="col-12" variant="success") {{ toTitleCase(category) }}
              b-collapse(:id="'cat_' + category" v-for="sounds, subcategory in subcats", :key="subcategory" style="margin:3px")
                b-btn(v-b-toggle="'cat_' + category + '_sub_' + subcategory" variant="primary" class="col-10 offset-1") {{ toTitleCase(subcategory) }}

          div(class="col-9" id="buttoncards")
            favorites-box(inline-template :clips="clips" :favorites="sortedFavorites")
              div(v-if="favorites.length > 0")
                div(class="bg-secondary border border-dark p-1") Favorites
                b-btn-group(size="sm")
                  b-btn(:onclick="'play(\"'+clip.name+'\")'" style="margin:5px" variant="primary" v-for="clip in favorites" :key="clip" v-b-tooltip="toTitleCase(clip.category) + ' - ' + toTitleCase(clip.subcategory)") {{ toTitleCase(clip.name) }}
            b-collapse(id='random' visible)
              b-button-close(style="margin:4px" v-b-toggle="'random'")
              div(class="bg-secondary border border-dark p-1") Random
              b-btn(v-for="clip in randomClips", :key="clip" style="margin:5px" size="sm" :id="'random_' + clip" variant="primary" :onclick="'random(\"'+clip+'\")'") {{ toTitleCase(clip) }}
            div(v-for="subcats, category in clips", :key="category" no-body="true")
              b-collapse(v-for="sounds,subcategory in subcats", :key="subcategory" :id="'cat_' + category + '_sub_' + subcategory")
                b-button-close(style="margin:4px" v-b-toggle="'cat_' + category + '_sub_' + subcategory")
                div(class="bg-secondary border border-dark p-1") {{ toTitleCase(category) }} - {{ toTitleCase(subcategory) }}
                b-btn-group(v-for="clipdata, clip in sounds", :key="clip" style="margin:5px" size="sm")
                  b-btn( variant="primary" :id="'clip_' + clip" :onclick="'play(\"'+clip+'\")'") {{ toTitleCase(clip) }}
                  heart(:clip="clipdata" v-on:favorite="addFavorite" v-on:unfavorite="removeFavorite" :id="'heart_' + clip")

        // Modal for error display
        b-modal(ref="errorModal" title="Error encountered")
          p {{ errorMessage }}
    // script(src="//cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="//cdn.jsdelivr.net/npm/vue")
    script(src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js")
    script(src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js")
    script(src="//unpkg.com/axios/dist/axios.min.js")
    script(src="//cdn.jsdelivr.net/npm/idb-keyval@3/dist/idb-keyval-iife.min.js")
    script(src='js/app.js')
