html
  script(src='/js/app.js')
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")

  body
    h1 Discord Soundboard
    a(href='/') Return to login
    div(class="container")
      div(class="row")
        for file in files
          div(class='col-sm' style='padding:5px')
            div(class='btn btn-primary', onclick="play('" + file + "')") #{file} #{token}
      div(class="row")
        div(class="col-lg") Randoms
      div(class="row")
        for file in randoms
          div(class='col-sm' style='padding:5px')
            div(class='btn btn-primary', onclick="random('" + file + "')") #{file} #{token}

      // Modal for error display
      div(id="error-display" class="modal" tabindex="-1" role="dialog")
        div(class="modal-dialog" role="document")
          div(class="modal-content")
            div(class="modal-header")
              h5(class="modal-title") Server error
                button(type="button" class="close" data-dismiss="modal")
                  span &times;
            div(class="modal-body")
              div(class="row") Looks like something exploded...
              div(id="error-message-holder" class="alert alert-warning row" role="alert")
            div(class="modal-footer")
              button(type="button" class="btn btn-secondary" data-dismiss="modal") Dismiss

    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
