html
  head
    title Discord Token Generator
    link(rel="stylesheet", href="/css/darkly.min.css")
    link(rel="shortcut icon", href="/media/discordbot-180.png", sizes="180x180")
    link(rel="shortcut icon", href="/media/discordbot.png", sizes="32x32")
  body
    div(class="container")
      div(class="page-header alert alert-dark text-center")
        h1 Discord Soundboard
      div(class="alert alert-warning")
        | By clicking the button below you agree to using cookies on this site.
        | #[br]All they do is keep your Discord login session information, and it can't
        | work without them.
        | #[br] If you'd like to not use cookies, just don't click that button
      a(class='btn btn-info' href="/api/discord/login") Login through discord

    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
